<div class="main d-flex justify-content-center align-items-center">
  <div class="container d-flex bg-light m-5 p-5 justify-content-center">
    <div
      [class]="changeCard"
      class="wrapper m-2 p-5 d-flex justify-content-center border border-0 rounded-3 flex-wrap shadow-lg"
    >
      <div class="title">
        <h2>Typing Challege</h2>
      </div>
      <div class="cards">
        <div>
          <h2>Randomly generated text</h2>
        </div>
        <div class="word p-4">
          <span
            [class]="compare(letter, enteredValue[i])"
            *ngFor="let letter of generatedValue.split(''); let i = index"
            >{{ letter }}</span
          >
        </div>
      </div>
      <div class="input mw-100">
        <input (keyup)="onChangeEvent($event)" type="text" />
      </div>
      <div class="result m-3 justify-content-center d-flex">
        <h1>{{ result }}</h1>
      </div>
    </div>
  </div>
</div>
